@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@media (max-widith: 600px) {
  
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box-login {
    width: 500px;
    height: 100%;
    align-items: center;
    text-align: center;
}

.wrap-welcome {
    font-weight: bold;
    font-family: 20px;
    text-align: left;
    margin-top: 106px;
    margin-left: 16px;
    font-size: 20px;
    font-family: "Urbanist", sans-serif;
    
}



.wrap-login {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    height: 350px;
    
}

.input-cpf {
    text-align: left;
    padding: 16px;
}

.input-name {
    text-align: left;
    padding-left: 16px;
}

.input-name .name{
    display: block;
    text-align: left;
    justify-content: center;
    border-radius: 10px;
    border: solid 1px #C6C6C6;
    width: 348px;
    height: 40px;
    padding-left: 8px;
    

}

.input-cpf .cpf {
    display: block;
    border-radius: 10px;
    border: solid 1px #C6C6C6;
    width: 348px;
    height: 40px;
    padding-left: 8px;
    
}

.login-btn {
    width: 348px;
    height: 40px;
    margin-top: 20px;
    background: linear-gradient(90deg, #50000E, #B6001F, #50000E);
    border-radius: 15px;
    font-size: 20px;
    border-style: none;
    color: #fff;
    font-family: "Urbanist", sans-serif;
}

.lembrar-me {
    font-weight: bold;
    font-family: "Urbanist", sans-serif;
    font-size: 12px;
    height: 10px;
    text-align: left;
    margin-left: 18px
    
}

.span-dados {
    font-size: 14px;
    font-family: "Urbanist", sans-serif;
}

.name::placeholder {
    font-size: 14px;
    color: #CECECE;
    text-align: left;
    font-family: "Urbanist", sans-serif;
}

.cpf::placeholder {
    font-size: 14px;
    color: #CECECE;
    text-align: left;
    font-family: "Urbanist", sans-serif;
}